# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
!web/app/upgrade
!web/app/uploads/*
web/app/uploads/GeoLite2-Country.mmdb
!web/app/uploads/.gitkeep
!web/app/uploads/.gitkeep
web/app/uploads/wc-logs
web/app/uploads/wc-logs/*
web/app/debug.log
# plugins
!web/app/plugins/safe-svg
!web/app/plugins/woocommerce
!web/app/plugins/woocommerce-gateway-stripe

# WordPress
web/wp
web/.htaccess

# Dotenv
!.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

maxistentialism.sublime-workspace