DB_NAME=maxistentialism
DB_USER=homestead
DB_PASSWORD=secret

# Optionally, you can use a data source name (DSN)
# When using a DSN, you can remove the DB_NAME, DB_USER, DB_PASSWORD, and DB_HOST variables
# DATABASE_URL=mysql://database_user:database_password@database_host:database_port/database_name

# Optional variables
# DB_HOST=localhost
# DB_PREFIX=wp_

WP_ENV=development
WP_HOME=http://max.local
WP_SITEURL=${WP_HOME}/wp

# Generate your keys here: https://roots.io/salts.html
AUTH_KEY='Kr2T1koDt#igR<b`q&3]TJvwoC#S=X]?`H2F9m9`0rjPSz[*+xfc<N0oU_2Hs[ty'
SECURE_AUTH_KEY='@vL{]m=]n6}V)ATj:@{!,*:{eG$5)!Qh<}xTKBYC*6uVZhM{w1|l]@]Q*;Y8MEMd'
LOGGED_IN_KEY='fd2d*+(AWtk5k^J.-Y^9N+GSz*`fUt[(7#|y0igfP/HacSBB@729l{WS}>Pq6K%K'
NONCE_KEY='no06y/kx!iJ6_R3v;FWj92BZ!_{N*gcX.57?R(|+WL@,Sc8Bq!6kOjr0SKZGO,7H'
AUTH_SALT='ro9Cj`me.;YEXeB{F{I4[^GHVdFc[]^E=;0K$Mh*=j,#c>EicF{rWzQ@?#M);^fR'
SECURE_AUTH_SALT='+2UN7KJnSn;q/[0AA_xy1i&a,r6cuEsE,p]b%&=jUisIG,I|8iqK/V>:&Z&EVk*m'
LOGGED_IN_SALT='MhZ2kW1cvP*[3it9oTh1VSBPeITYt|9$n0-kbvvU?Z,EXPpENXzI`+F]%XB/G9[n'
NONCE_SALT='+{S.A@zveLyE$S{:laI1KEiaOm9l$x;;qHh}`5.p&QbqnSZ0[iUy>(%oP?.hGISC'
